
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

h1 {
	font-family: "serifa-stencil-d", serif;
	font-weight: 700;
	font-style: normal;
	text-align: center;
}

body,
h2,
h3,
p,
footer {
  font-family: "serifa", serif;
  font-weight: 200;
  font-style: normal;
}

h3 {
  font-weight: bold;
  text-decoration-line: overline underline;
}

a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}

a:hover {
  color: purple;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 10px;
  display: flex;
  gap: 20px;
  justify-content: right;
}

nav ul li {
  position: relative;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  padding: 5px 0;
  transition: color 0.3s ease;
}

nav ul li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

nav ul li a:hover {
  color: purple;
}

nav ul li a:hover::after {
  width: 100%;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

.flex-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.title {
      position: absolute;
      transform: translate(0, 0);
      color: black;
      font-size: 31px;
      font-weight: bold;
}

.portfolio {
      position: absolute;
      transform: translate(0, 375px);
      color: black;
      font-size: 31px;
    }

.home {
      position: absolute;
      top: 18%;
      right: 84%;
      color: black;
      font-size: 44px;
      transform: rotate(-18deg); 
      transform-origin: center; 
      text-decoration: none;
}

.projects {
      position: absolute;
      top: 14%;
      right: 79%;
      color: black;
      font-size: 29px;
      transform: rotate(18deg); 
      transform-origin: center; 
}

.projects1 {
      position: absolute;
      top: 48%;
      left: 19%;
      color: black;
      font-size: 31px;
}

.projects2 {
      position: absolute;
      top: 64%;
      left: 45%;
      color: black;
      font-size: 31px;
}

.projects3 {
      position: absolute;
      top: 79%;
      left: 75%;
      color: black;
      font-size: 31px;
}

.notes {
      position: absolute;
      top: 14%;
      left: 6%;
      color: black;
      font-size: 30px;
      transform: rotate(-5deg); 
      transform-origin: center; 
}

.BOC {
      position: absolute;
      justify-content: center;
      align-items: center;
      color: black;
      font-size: 31px;
      text-decoration: none;
      line-height: 2;
}

.aboutme {
      position: absolute;
      top: 19%;
      left: 5%;
      color: black;
      font-size: 30px;
      transform: rotate(-20deg); 
      transform-origin: center; 
}

.description {
      position: absolute;
      top: 30%;
      color: black;
      font-size: 31px;
      width: 50%;
      margin: 0 auto; 
      text-align: justify;
}

.contactme {
      position: absolute;
      top: 41%;
      left: 8%;
      color: black;
      font-size: 30px;
      transform: rotate(-10deg); 
      transform-origin: center; 
}

.linkedin {
      position: absolute;
      top: 48%;
      right: 8%;
      color: black;
      font-size: 31px;
}

.contactform {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactform h3 {
    font-size: 2rem;
    display: block;
    margin: 2%;
    margin-bottom: 0;
}

.lt {
    padding: 2%;
    margin: 2%;
}

.lt textarea {
    width: 94%;
}

button {
    margin: 2%;
}

.btn-primary {
    background-color: white;
    border: 2px solid black;
    border-radius: 5%;
}

.form-control {
    background-color: white;
}

@media screen and (min-width: 770px) {
    .contactform {
  justify-content: center;
  align-items: center;
    }

    .lt textarea {
  justify-content: center;
  align-items: center;
    }
}

@media screen and (min-width: 1100px) {
    .contactform {
  justify-content: center;
  align-items: center;
    }

    .lt {
  justify-content: center;
  align-items: center;
    }
}

footer {
  text-align: center;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  letter-spacing: -0.01em;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
}

:focus {
  outline: 2px dashed #00ff19;
  outline-offset: 0.25rem;
}

main:focus {
  outline: none;
}
